.footer-bg{
    background-color: #323232;
    position: relative;
    padding: 70px 0;
    color: #fff;
}
.footer-button{
    background: #207fdd;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 30px;
    border: 2px solid transparent;
    transition: all .3s ease;
}
.footer-button:hover{
    background: #fff;
    border-radius: 30px;
    display: inline-block;
    color: #207fdd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 30px;
    border: 2px solid transparent;
    transition: all .3s ease;
}
.footer-image{
    width: 80%;
}
.footer-first-des{
    font-size: 10px;
}
.map-bg{
    background-color: #ffff;
    color:black
}
.footer-logo{
    width: 70%;
}
