.first-header{
    font-size: 36px;
}
.service-background{
    background-color: #3b94ed;
}
.button-background{
    background-color: #207FDD;
    font-weight: bold;
}
.service-description{
    font-size: 14px;
}
.benefit-background{
    background-color: #2B87E4;
}